@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.btn {
  background: #70908B;
  width: 328px;
  height: 69px;
  border-radius: 40px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: linear-gradient(90deg, #B0D3CE, #FFEDCE);
  color: #195557;
}

.btn__green:hover {
  background: #70908B;
  color: #fff;
}

header {
  background: url("../img/header/Fon.png") no-repeat center center/cover;
  height: 1356px;
  width: 100%;
  position: relative;
}

.header__navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__navbar ul {
  display: flex;
  align-items: flex-end;
}

.header__navbar ul li {
  margin: 0 32px;
}

.header__navbar ul li a {
  text-decoration: none;
  color: #195557;
  font-family: "Cormorant Infant", serif;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.header__container {
  padding: 35px 68px 0 61px;
}

.header__logo {
  width: 36.7%;
}

.logo {
  width: 121px;
  height: 56px;
}

.header__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  widows: 15%;
}

.header__phone img {
  width: 69px;
  height: 69px;
}

.header__phonenum {
  font-family: Raleway;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #195557;
  font-family: "Raleway", sans-serif;
}

.header__basket {
  width: 10%;
}

.basket {
  width: 36px;
  height: 36px;
}

.header__content {
  margin: 165px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header__title {
  color: #195557;
  font-family: "Cormorant Infant", serif;
  font-size: 100px;
}

.header__subtitle {
  font-size: 50px;
  line-height: 61px;
  color: #70908B;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Cormorant Infant", serif;
  margin-bottom: 19px 0 34px 0;
}

.header__text {
  font-family: "Raleway", sans-serif;
  color: #70908B;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 34px;
}

.header__items {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: -140px;
}

.header__item {
  max-width: 191px;
  max-height: 323px;
}

.header__item-title {
  margin: 30px 0 8px 0;
  text-transform: uppercase;
  color: #195557;
  font-family: "Cormorant Infant", serif;
  font-size: 16px;
}

.header__item-text {
  color: #195557;
  font-family: "Raleway", sans-serif;
  line-height: 23px;
  font-size: 14px;
}

.header__icon {
  position: relative;
  border-radius: 100%;
  width: 152px;
  height: 152px;
  margin: 0 auto;
  box-shadow: -8px -8px 20px 0px white;
  box-shadow: 4px 4px 20px 0px #c2ccca;
}

.header__icon .logo {
  position: absolute;
  top: 31%;
  right: 10%;
}

.icon-first {
  background: #FFEDCD;
}

.icon-second {
  background: #E2F0DF;
}

.icon-third {
  background: #70908B;
  border: 1px solid #94afab;
}

.header__img .img-left {
  margin-left: -20px;
  transform: rotate(-5deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.main-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -320px;
}

.main-item {
  background: url("../img/main/left_fon.svg") no-repeat center center/cover;
  display: flex;
  height: 397px;
  max-width: 570px;
  width: 40%;
  margin: 0 18px 0;
}

.main-item__first {
  background: url("../img/main/fon_left.svg") no-repeat center center/cover;
}

.main-item__content {
  display: flex;
  flex-direction: column;
  margin-left: 62px;
}

.main-item__img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
  position: relative;
}

.main-item__img img {
  margin-left: -110px;
  margin-top: -45px;
}

.main-item__content {
  width: 50%;
}

.main-item__title {
  color: #195557;
  font-size: 40px;
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 48px;
}

.main-item__sale {
  width: 68px;
  height: 36px;
  background-color: #70908B;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding-top: 6px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  position: relative;
  bottom: 5px;
  left: -27px;
}

.main-item__sale p {
  margin-bottom: 10px;
}

.main-item__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  left: 22px;
  overflow: visible;
  padding-bottom: 99px;
}

.main-item__old-price {
  color: #C2CCCA;
  text-decoration: line-through;
  font-size: 20px;
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
}

.main-item__new-price {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  font-weight: 700;
  color: #195557;
  margin-bottom: 58px;
}

.logo-i {
  position: absolute;
  right: 80px;
  top: 21px;
}

.logo-plus {
  position: absolute;
  top: 365px;
  right: 50px;
}

.contact-form {
  width: 100%;
  max-width: 1200px;
  margin: 91px auto 0;
}

.contsct-form__inner {
  width: 1197px;
  height: 484px;
  background-color: #eaeeef;
  border-radius: 15px;
  margin-bottom: 68px;
}

.contact-form__title {
  font-size: 45px;
  font-family: "Cormorant Infant", serif;
  color: #195557;
  text-align: center;
  padding-top: 39px;
}

#btn-min {
  width: 199px;
  background-color: #fff;
  color: #195557;
  font-size: 14px;
  border: 3px solid #70908b;
  font-family: "Cormorant Infant", serif;
  margin: 30px 7px 0 7px;
}

#btn-min:hover {
  background-color: #70908b;
  color: #fff;
}

.contact-form__common {
  display: flex;
  justify-content: center;
}

.contact-form__radio {
  display: flex;
  padding-top: 40px;
  padding-right: 20px;
}

.radio-group {
  margin-left: 53px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Cormorant Infant", serif;
  color: #195557;
}

.radio-group p {
  padding-bottom: 14px;
}

.contact-form__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 49px 0px 49px;
  width: 100%;
}

.contact-form__text {
  width: 352px;
  height: 62px;
  color: #195557;
  border-radius: 7px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 23px 0 23px 27px;
  border: none;
}

.contact-form__comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 49px 79px 49px;
}

.contact-form__comments textarea {
  width: 100%;
  height: 108px;
}

.contact-form__comments .btn {
  margin: 30px 100px;
}

footer {
  z-index: 1;
  height: 184px;
  width: 100%;
  background-color: #70908B;
  color: #fff;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 57px 60px 0 60px;
  height: 184px;
  align-items: center;
}

.footer__text p {
  color: #fff;
  font-size: 9px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__nav ul {
  display: flex;
  align-items: flex-end;
}

.footer__nav ul li {
  margin: 0 40px;
}

.footer__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Cormorant Infant", serif;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__phone {
  font-size: 22px;
  font-weight: 500;
  width: 10%;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer-icon {
  width: 30px;
  height: 30px;
}