header{
  background: url('../img/header/Fon.png') no-repeat center center/cover;
  height: 1356px;
  width: 100%;
  position: relative;

}

.header__navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.header__navbar ul {
  display: flex;
  align-items: flex-end;
}

.header__navbar ul li {
  margin: 0 32px;
}

.header__navbar ul li a {
  text-decoration: none;
  color: #195557;
  font-family: $cormorantFont;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.header__container{
  padding: 35px 68px 0 61px;
}

.header__logo{
  width: 36.7%;
}

.logo{
  width: 121px;
  height: 56px;
}

.header__phone{
  display: flex;
  align-items: center;
  justify-content: center;
  widows: 15%;
}

.header__phone img{
  width: 69px;
  height: 69px;
}

.header__phonenum{
font-family: Raleway;
font-style: normal;
font-size: 22px;
line-height: 26px;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #195557;
font-family: $relewayFont;
}

.header__basket{
  width: 10%;
}

.basket{
  width: 36px;
  height: 36px;
}
.header__content{
  margin: 165px auto;
  text-align: center;
  display: flex;
  flex-direction: column;

}
.header__title{
  color: #195557;
  font-family: $cormorantFont;
  font-size: 100px;
}
.header__subtitle{
  font-size: 50px;
  line-height: 61px;
  color: #70908B;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $cormorantFont;
  margin-bottom:19px 0 34px 0;
}
.header__text{
  font-family: $relewayFont;
  color: #70908B;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 34px;
}
.header__items{
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: -140px;
}
.header__item{
  max-width: 191px;
  max-height: 323px;
}
.header__item-title{
  margin: 30px 0 8px 0;
  text-transform: uppercase;
  color: #195557;
  font-family: $cormorantFont;
  font-size: 16px;
}
.header__item-text{
  color: #195557;
  font-family: $relewayFont;
  line-height: 23px;
  font-size: 14px;
}
.header__icon{
  position: relative;
  border-radius: 100%;
  width: 152px;
  height: 152px;
  margin: 0 auto;
  box-shadow: -8px -8px 20px 0px rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 20px 0px rgba(194, 204, 202, 1);
}

.header__icon .logo{
  position: absolute;
  top: 31%;
  right: 10%;
}
.icon-first{
    background: #FFEDCD;
}
.icon-second{
  background: #E2F0DF;
}
.icon-third{
  background: #70908B;
  border: 1px solid rgba(148, 175, 171, 1);
}
.header__img .img-left{
  margin-left: -20px;
  transform: rotate(-5deg);
}
