
.btn{
  background: #70908B;
  width: 328px;
  height: 69px;
  border-radius: 40px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.btn:focus{
  outline: none;
}
.btn:hover{
  background: linear-gradient(90deg, #B0D3CE, #FFEDCE);
  color: #195557;
}
.btn__green:hover{
  background: #70908B;
  color: #fff;
}
